<div id="products">
  {{#each products}}
  <div class="gallery">
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>${{this.price}}</p>
  </div>
{{/each}}

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>