<div id="listaProd">
    <p id="log"></p>
    <h1>Products list to modified</h1>

    <form action="">
        <label>Productos</label>
    </form>
    <div id="prodList">
    </div>


</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>